@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Mulish:wght@300;400;700&family=Playfair+Display:wght@700&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Playfair Display', serif;
*/

/* color */
:root {
    --white: #ffffff;
    --black: #303030;
    --head: #4b4b4b;
    --body: #686868;
    --main: #FB8F1D;
    --sub1: #8c9e89;
    --sub2: #546b57;
}



/* GUI */

h1, h2 {
    color: var(--black);
    font-family: 'Playfair Display';
    font-weight: bold;
}

h1 {
    font-size: 64px;
    line-height: 1.25;
}

h2 {
    font-size: 36px;
    line-height: 1.38;
}

p {
    color: var(--body);
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    line-height: 1.76;
}

.button {
    width: 180px;
    height: 52px;
    background-color: var(--main);
    border-radius: 8px;
    font-family: 'Mulish';
    font-weight: bold;
    font-size: 17px;
    color: var(--white);
    cursor: pointer;
}

.header-image,
.service-image {
    display: block;
    width: 100%;
}

.header-image img,
.service-image img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.photo-header,
.trend-header {
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-header a,
.trend-header a {
    color: var(--main);
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    line-height: 1.87;
    display: block;
}

.more {
    margin-left: 8px;
}

/* navigation */

.navigation .row {
    height: 120px;
    align-items: center;
}

.logo {
    width: 44px;
    height: 44px;
    background-image: url("./assets/logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.navigation .col-10 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    color: var(--sub1);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    display: flex;
    margin-right: 48px;
}

.menu li {
    margin-right: 32px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li:hover {
    color: var(--sub2);
}

.nav-button-group {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    display: flex;
}

.nav-button-group a {
    margin-right: 16px;
}

.nav-button-group a:last-child {
    margin-right: 0;
}

.nav-button {
    width: 132px;
    height: 44px;
    background-color: var(--white);
    border: 1px solid var(--main);
    border-radius: 8px;
    color: var(--main);

    display: flex;
    justify-content: center;
    align-items: center;
}

.inverted {
    background-color: var(--main);
    color: var(--white);
}


/* header */

.header {
    padding: 100px 0 60px;
}

.header .row {
    align-items: center;
}

.header-title {
    margin-bottom: 72px;
}

.header-content {
    position: relative;
}

.finder-title {
    color: var(--head);
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;
    line-height: 1.22;
    display: block;
    margin-bottom: 20px;
}

.finder-line {
    width: 32px;
    height: 2px;
    background: var(--head);
    border-radius: 4px;
    margin-bottom: 48px;
}

.finder-content {
    display: flex;
    flex-wrap: wrap;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    position: relative;
    width: 220px;
    height: 52px;
    padding: 12px 20px;
    margin-right: 32px;
    margin-bottom: 36px;
    border: 1px solid var(--body);
    border-radius: 6px;
    display: flex;
    align-items: center;
    background-image: url("./assets/dropdown.svg");
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

.dropdown-button:hover, .dropdown-button:focus {
    border: 2px solid var(--main);
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 52px;
    background-color: var(--white);
    width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--head);
    padding: 12px 20px;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--main);
    color: var(--white);
}

.show {
    display: block;
}

.dropdown-value {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: var(--head);
}


/* service-1, service-2 */

.service-1,
.service-2 {
    padding: 200px 0;
}

.service-1 .row,
.service-2 .row {
    align-items: center;

}

.service-1 .col-6:last-child {
    display: flex;
    justify-content: center;
}

.service-2 .col-6:first-child {
    display: flex;
    /* justify-content: center; */
}

.service-text {
    width: 400px;
    display: inline-block;
}

.service-head {
    display: inline-block;
    margin-bottom: 20px
}

.service-desc {
    display: inline-block;
    margin-bottom: 48px;
}


/* photo */

.photo {
    padding: 120px 0;
}

.photo-cards {
    display: flex;
}

.photo-card {
    position: relative;
    width: 260px;
    height: 332px;
    margin-right: 24px;
    font-family: 'Inter';
    font-size: 15px;
    line-height: 1.6;
}

.photo-card img {
    display: block;
    border-radius: 8px;
    height: 100%;
}

.photo-card:last-child {
    margin-right: 0;
}

.photo-card-loc {
    height: 56px;
    padding: 12px 20px 0 0;
    border-radius: 0px 16px 0px 0px;
    background-color: var(--white);
    color: var(--sub1);
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left: 0;
}

.photo-card-loc strong {
    display: block;
    color: var(--sub2);
    font-family: 'Inter';
    font-weight: 600;
}


/* review */

.review {
    padding: 120px 0;
}

.review .row {
    align-items: center;
}

.review-head {
    margin-bottom: 40px;
}

.rate-star {
    font-size: 24px;
    margin-right: 8px;
    color: #FFBB0C;
}

.review-rate {
    margin-bottom: 32px;
}

.review-content {
    color: var(--head);
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.review-writer {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: var(--sub1);
}

.review-writer strong {
    font-weight: 700;
    font-size: 22px;
    line-height: 2.18;
    color: var(--sub2);
    display: block;
    margin-bottom: 4px;
}

.review .col-6:last-child {
    display: flex;
    justify-content: center;
}

.review-image {
    position: relative;
    width: 384px;
    height: 480px;
    background-image: url("./assets/review.png");
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 16px;
}

.review-image-page {
    position: relative;
    width: 132px;
    height: 60px;
    border-radius: 16px 0px 0px 0px;
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    right: 0;
}

.page {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
}

.prev-page,
.next-page {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.prev-page img,
.next-page img {
    display: block;
    margin: 0 auto;
}

.prev-page {
    margin-right: 20px;
}

.disabled {
    opacity: 0.25;
}


/* trend */

.trend {
    padding: 200px 0;
}

.trend-cards {
    display: flex;
}

.trend-card {
    position: relative;
    width: 264px;
    min-height: 448px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.trend-card:last-child {
    margin-right: 0;
}

.trend-card img {
    display: block;
    width: 100%;
    height: 230px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 16px;
}

.trend-card-head {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    line-height: 1.58;
    color: var(--sub2);
    display: block;
    margin-bottom: 8px;
}

.trend-card-body {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.73;
    color: var(--sub1);
    display: block;
    margin-bottom: 24px;
}

.trend-card a {
    color: var(--main);
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    line-height: 1.87;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* footer */

.footer {
    background-color: #F9F9FB;
    color: var(--sub1);
    font-family: 'Mulish';
    font-weight: 300;
}

.footer .row:first-child {
    padding: 80px 0;
    border-bottom: 1px solid var(--body);
}

.footer .logo {
    margin-bottom: 28px;
}

.footer p {
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 1.56;
}

.copyright {
    color: var(--sub2);
    font-size: 16px;
    line-height: 1.65;
}

.footer .col-7 {
    display: flex;
    justify-content: space-between;
}

.footer-list-head {
    height: 44px;
    margin-bottom: 28px;
    color: var(--sub2);
    font-weight: bold;
    font-size: 19px;
    line-height: 1.8;
}

.footer-list li {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-list li:last-child {
    margin-bottom: 0;
}


.footer .row:nth-child(2) {
    padding: 32px 0;
}

.sns {
    display: flex;
    margin: 0 auto;
}

.sns a {
    margin-right: 36px;
}

.sns a:last-child {
    margin-right: 0;
}

.sns-icon {
    display: block;
    height: 24px;
}